@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Employee Forms Tracker</h1>
    <p class="lead">Use the links above to track your employees and the items that still need to be uploaded</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Employees with missing forms.</h2>
        <p>
            Click the buttons to show employees that are missing a photo ID, an I9 form or either
        </p>
        <p><input type="button" class="btn btn-default" value="Missing Photo ID &raquo;" onclick="location.href='@Url.Action("NoPictureID", "Employees")'" /></p>
        <p><input type="button" class="btn btn-default" value="Missing I9 Form &raquo;" onclick="location.href='@Url.Action("NoI9", "Employees")'" /></p>
        <p><input type="button" class="btn btn-default" value="Missing Any Form &raquo;" onclick="location.href='@Url.Action("Either", "Employees")'" /></p>
    </div>
    <div class="col-md-6">
        <h2>All Employees</h2>
        <p>Shows a list of all employees. </p>
        <p><input type="button" class="btn btn-default" value="Show all &raquo;" onclick="location.href='@Url.Action("Index", "Employees")'" /></p>
    </div>
</div>